extends layout

block content
  h1 Vel.ma/timer - stand up timer!
  p.lead I wanted to play with typescript and this was the excuse I needed!!
  hr
  .row
    .col-sm-6
      h2 More To Come!
      p some stat counts maybe...
      p Fewer buttons to use timer
      p Fancy final results sent page
      p UI ... react ...
      p Ramdom names
      p pull names though db/ auth system